@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 196 62% 99%;
    --foreground: 196 75% 3%;
    --muted: 196 6% 92%;
    --muted-foreground: 196 3% 30%;
    --popover: 196 62% 99%;
    --popover-foreground: 196 75% 3%;
    --card: 196 62% 99%;
    --card-foreground: 196 75% 3%;
    --border: 196 13% 89%;
    --input: 196 13% 89%;
    --primary: 196 19% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 196 5% 86%;
    --secondary-foreground: 196 5% 26%;
    --accent: 196 5% 86%;
    --accent-foreground: 196 5% 26%;
    --destructive: 15 99% 36%;
    --destructive-foreground: 0 0% 100%;
    --ring: 196 19% 44%;
    --chart-1: 196 19% 44%;
    --chart-2: 196 5% 86%;
    --chart-3: 196 5% 86%;
    --chart-4: 196 5% 89%;
    --chart-5: 196 22% 44%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 196 35% 2%;
    --foreground: 196 30% 97%;
    --muted: 196 6% 8%;
    --muted-foreground: 196 3% 70%;
    --popover: 196 35% 2%;
    --popover-foreground: 196 30% 97%;
    --card: 196 35% 2%;
    --card-foreground: 196 30% 97%;
    --border: 196 13% 10%;
    --input: 196 13% 10%;
    --primary: 196 19% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 196 15% 17%;
    --secondary-foreground: 196 15% 77%;
    --accent: 196 15% 17%;
    --accent-foreground: 196 15% 77%;
    --destructive: 15 99% 60%;
    --destructive-foreground: 0 0% 0%;
    --ring: 196 19% 44%;
    --chart-1: 196 19% 44%;
    --chart-2: 196 15% 17%;
    --chart-3: 196 15% 17%;
    --chart-4: 196 15% 20%;
    --chart-5: 196 22% 44%;
  }
}



/* Classe para customizar a scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;       /* Largura da scrollbar vertical */
  height: 8px;      /* Altura da scrollbar horizontal */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d2d2d;  /* Cor de fundo da track */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a4a4a; /* Cor do "polegar" da scrollbar */
  border-radius: 4px;
  border: 2px solid #2d2d2d; /* Opcional: cria um "espaço" entre o polegar e a track */
}

/* Para Firefox, você pode usar as propriedades nativas (não tem suporte para pseudoelementos) */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4a4a4a #2d2d2d;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
